
<nav class="Menu">

    <a class="Logo" href="/">
        e|&gt
    </a> 

    <div>
        <ul class>
            <li class="ButtonLink">
                <a class="ButtonLinkA" href="/">
                    Link 1
                </a>
            </li>

            <li class="ButtonLink">
                <a  href="/">
                    Link 2
                </a>
            </li>

            <li class="ButtonLink">
                <a  href="/">
                    Link 3
                </a>
            </li>
            
            <li class="ButtonLink">
                <a   href="/">
                    Link 4
                </a>
            </li>
        </ul>
    </div>
</nav>
 
    
    
        
<div class="SideMenuSub1" >
    <nav>
        <ul id="leftMenuIcons" class="SideMenuIcons SideMenu">    
            <li>
                <a class="LeftButton-menu" href="/">
                    <i class="material-icons md-light md-48">menu</i>
                </a>
            </li>

            <li>
                <a class="LeftButton-menu" href="/">
                    <i class="material-icons md-light md-48">menu</i>
                </a>
            </li>
        </ul>
    </nav>
</div>
    


<div class="SideMenuSub2">
    <nav>
        <ul id="leftMenuText" class="SideMenuText SideMenu leftMenuOut"> 
            <li>
                <a class="LeftButton-menu" href="/">
                    Menu
                </a>
            </li>

            <li>
                <a class="LeftButton-menu" href="/">
                    Menu
                </a>
            </li>
        </ul>
    </nav>   
</div>
        
    

