{% load static %}


<nav class="Menu">
    <div><a class="Logo" href="https://google.com/">
        e|&gt
        <!-- <img class="Logo" src=% static 'images/Logo.png' %} alt="AluraFlix logo" /> -->
    </a>  </div>
    <div>
        <ul class="ButtonLinkList">
            <li class="ButtonLink">
                <a  href="/">
                    Link 1
                </a>
            </li>

            <li class="ButtonLink">
                <a  href="/">
                    Link 2
                </a>
            </li>

            <li class="ButtonLink">
                <a  href="/">
                    Link 3
                </a>
            </li>
            
            <li class="ButtonLink">
                <a   href="/">
                    Link 4
                </a>
            </li>
        </ul>
    </div>
    
    
      

    <!-- <Button as={Link} className="ButtonLink" to="/cadastro/video">
    Novo vídeo
    </Button> -->
    <!-- <div><a class="ButtonLink" href="/">
        props
    </a></div> -->
    
</nav>
