.FooterBase {
    height: var(--footerHeight);
    background: var(--black);
    border-top: none;
    padding-left:   var(--footerpaddingleft);
    padding-right: var(--footerpaddingright);
    padding-top:  var(--footerpaddingtop);
    padding-bottom:   var(--footerpaddingbottom);
    color: var(--white);
    text-align: center;
    margin: 0px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    z-index: 100;
    
  }

  @media (max-width: 800px) {
    .FooterBase {
      margin: 0px;
    }
  }

.FotterBaseA{
  text-align: center;
  margin: 0px;
  padding: var(--footercontentpadding);
  color: var(--background);
  text-decoration: none;
}