.Menu {
    width: 100%;
    height: var(--menuHeight);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 40px;
    padding-right: 0%;
    background: var(--black);
    border-bottom: var(--borderMenu) solid var(--blue);
}

.Logo {
    --logoHeight: 30px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;
    line-height: var(--logoHeight);
    padding: 8px 10px 8px 10px;
    border-radius: 15px;
    color: var(--black);
    background: var(--blue);
    cursor: pointer;
}

.ButtonLink {

    box-sizing: border-box;
    cursor: pointer;
    padding: 0px 24px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    line-height: var(--logoHeight);
    display: inline-block;
    color: var(--background);
    
}

.ButtonLink:focus,
.ButtonLink:hover > a {
    
    color: var(--blue);
}


.ButtonLink > a {
    text-decoration: none;
    color: var(--background);
    transition: color 1s;
   
}





/* .SideMenu {


} */

.SideMenuIcons {

    margin: 0px 0px 0px 0px;
    position: fixed;
    z-index: 90;
    padding: 0px 0px 0px 0px;

}

.SideMenuText {

    display: none;
    margin: 0px 0px 0px 0px;
    position: fixed;
    z-index: 80;

    left: var(--leftMenuIconsSize);

}

.SideMenuIcons ul, .SideMenuText ul {
    height: 100vh;
    display: block;
    align-items: center;
    position: fixed;
    top: var(--menuHeight);
    margin: 0px 0px 0px 0px;
    padding-left: 25px;
    padding-top: var( --contentPaddingVertical );
    padding-bottom: 0px;
    background: var(--black);
    border-right: none;
}


.SideMenuIcons ul {
    width: var(--leftMenuIconsSize); 
    left: 0;
    padding-right: 0px;
}

.SideMenuText ul {
    width: var(--leftMenuTextSize);
    padding-top: 13px;
    padding-right: 5%;
}

.SideMenuIcons li, .SideMenuIcons a, .SideMenuText li, .SideMenuText a {

    color: var(--background);
    text-decoration: none;
    height: 50px;
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: left;
    white-space:nowrap;
    
}





.LeftButton-menu {
    padding: 0px 0px 0px 0px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: var(--leftMenuTextSize);
}



.leftMenuOut {
    transition: transform 0.5s;
    transform: translateX( -300px );

     /* width(0);
    color: transparent;
    font-size:0px;
    transform: opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin: 0px 0px 0px 0px; */
}

/* .leftMenuIn {
  transition: transform 0.5s;
  transform: translateX( -300px );
}


@keyframes show{
  0%{
    opacity: 1;
    height: 100%;
    line-height: 100%;
    padding: 0px;
    [var].style.animationPlayState = 'paused';
  }
  100%{
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }
}

.anima{
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
} */

