* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
  
:root {

  --black: #000000;
  --background: #e6e8e6;
  --blue: #0c93d1;
  --red: #df2935;
  --green: #357266;

  --menuHeight: 100px;
  --borderMenu: 2px;

  --footerHeight: 200px;
  --footerpaddingleft: 16px;
  --footerpaddingright: 16px;
  --footerpaddingbottom: 32px;
  --footerpaddingtop: 20px;
  --footercontentpadding: 10px;
}
  
html,
body {
  background: var(--background);
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  --bodyPaddingTop: 0px;
  padding-top: var(--menuHeight);
  
}

.md-light {
  color: rgba(255, 255, 255, 1); 
}
.md-dark { 
  color: rgba(0, 0, 0, 0.54); 
}
.md-18 { 
  font-size: 18px; 
}
.md-24 { 
  font-size: 24px; 
}
.md-36 { 
  font-size: 36px; 
}
.md-48 {
   font-size: 48px; 
  }

.content {
  min-height: calc( 100vh - var(--menuHeight) - var(--footerHeight) );
} 

