* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
  
:root {

  --black: #000000;
  --background: #e6e8e6;
  --blue: #0c93d1;
  --red: #df2935;
  --green: #357266;

  --menuHeight: 60px;
  --borderMenu: 2px;

  --footerHeight: 200px;
  --footerpaddingleft: 16px;
  --footerpaddingright: 16px;
  --footerpaddingbottom: 32px;
  --footerpaddingtop: 20px;
  --footercontentpadding: 10px;

  --leftMenuIconsSize: 150px;
  --leftMenuTextSize: 75px;

  --contentPaddingHorizontal: 75px;
  --contentPaddingVertical: 50px;
}
  
html,
body {
  background: var(--background);
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  
}


.md-light {
  color: rgba(255, 255, 255, 1); 
}
.md-dark { 
  color: rgba(0, 0, 0, 0.54); 
}
.md-18 { 
  font-size: 18px; 
}
.md-24 { 
  font-size: 24px; 
}
.md-36 { 
  font-size: 36px; 
}
.md-48 {
   font-size: 48px; 
  }



